---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <h2 class="subheading">"Andando y andando, me vine hasta aquí..."</h2>
		    <span class="meta">
		      ("Wandering and wandering, I've got here...")
		    </span>
                    <h3 class="subheading">
                        <a href="https://www.youtube.com/watch?v=NeRb39bObgM&t=41m11s">El Promesante</a>,
                        <a href="https://en.wikipedia.org/wiki/Atahualpa_Yupanqui">Atahualpa Yupanqui</a>
		    </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
